* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#item1 { grid-area: header;}
#item2 { grid-area: celda2;}
#item3 { grid-area: celda3;}
#item4 { grid-area: celda4;}
#item5 { grid-area: celda5;}
#item6 { grid-area: celda6;}

.item {
    background-color: #697C88;
    color: white;
    padding: 2.5%;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header'
    'celda2 celda3 celda4'
    'celda2 celda5 celda6';
    gap: 2px 2px;
    justify-items: stretch;
    margin: 10vh 10vw;
    text-align: center;
    font-size: 24px;

}