div {
    width: 250px;
    height: 100px;
    margin: 25px;
    text-align: center;
    align-content: center;
}

.float {
    float: left;
    background-color: #AED8E6;
}

.clear {
    clear: left;
    background-color: #BBBBBB;
}
