.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.card-shadow {
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
}

.card-gradient {
    background-image: linear-gradient(to bottom, #3498db, #1f587d );
    color: white;
}

.filtered-image {
    filter: brightness(80%) contrast(120%);
}

.tooltip-text {
    width: 120px;
    background-color: brown;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

}