* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

nav ul a {
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 5px;
    border-right: 1px solid #336699;
}

nav a:hover {
    background-color: #336699;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
}

nav li:last-child a {
    border-right: none;
}
