* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
	min-height: 100vh;
	background-color: #f0f0f0;
	color: white;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(5, 1fr);
}

.content {
	display: grid;
	grid-template-columns: 0.7fr 0.3fr;
}

.header-nav {
	background-color: #007bff;
	grid-row: 1 / 2;
	text-align: center;
}
	.header-nav header {
		margin: 1%;
		font-size: 24px;
	}
	.header-nav nav {
		margin-bottom: 1%;
	}
	.header-nav a {
		display: inline-block;
		color: white;
		text-decoration: none;
		padding: 20px;
	}
	.header-nav nav ul li {
		display: inline-block;
	}


main {
	background-color: #28a745;
}

footer {
	background-color: #dc3545;
}

div.ad {
	background-color: #6c757d;
}

aside {
	background-color: #FFC107;
}