/* Reset de margenes, border box */
* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos generales */
/* Margenes, rellenos y alineamientos */
.header-nav, .content, footer {
	margin: 0.5%;
}

.header-nav, footer, div.ad {
	text-align: center;
}

.header-nav nav ul li, .header-nav a {
	display: inline-block;
}

/* Contenedores Grid */
body, .content, aside {
	display: grid;
}

body {
	min-height: 100vh;
	background-color: #f0f0f0;
	color: white;
	grid-template-columns: auto;
	grid-template-rows: 0.75fr repeat(3, 1fr) 0.25fr;
}

.content {
	grid-row: 2 / 5;
	grid-template-columns: 0.7fr 0.3fr;
}

.header-nav {
	background-color: #007bff;
	grid-row: 1 / 2;
}
	.header-nav header {
		margin: 1%;
		font-size: 24px;
	}
	.header-nav nav {
		margin-bottom: 1%;
	}
	.header-nav a {
		color: white;
		text-decoration: none;
		padding: 20px;
	}

main {
	background-color: #28a745;
	margin-right: 1%;
	line-height: 5em;
	text-indent: 5%;
}

aside {
	background-color: #FFC107;
	grid-template-rows: repeat(3 , 30%);
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: stretch;
	align-content: center;
	row-gap: 2%;
}
	aside div.ad {
	background-color: #6c757d;
	padding: 10%;
	width: 85%;
	}

footer {
	background-color: #dc3545;
	line-height: 2.5em;
}
@media (max-width: 800px) {
	body, .content {
		grid-template-columns: 1fr;
	}

	main {
		margin-right: 0%;
		margin-bottom: 1%;
	}

	@media (max-width: 500px) {
		aside {
			display: none;
		}
	}
}