div {
    box-sizing: border-box;
    padding: 20px;
}

.fixed-container {
    width: 300px;
    background-color: #3498db;
    float: left;
}

.variable-container {
    float: left;
    width: calc(100% - 300px);
    background-color: #e74c3c;
}