@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);

:root {
    --primary-text-color: #333;
    --bg-strong-pink: #e91e63;
    --hover-pink: #d81b60;
    --secondary-text-color: #555;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: var(--primary-text-color);
}

header {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid black;
    text-align: center;
}
    header h1 {
        font-weight: bold;
        font-size: 42px;
    }
    header p {
        color: var(--secondary-text-color);
        margin-top: -1%;
        margin-bottom: 2%;
    }

nav {
    background-color: var(--bg-strong-pink);
    display: flex;
    justify-content: center;
    position: sticky;
}
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        display: inline-block;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    nav ul li a:hover {
        color: black;
    }

section#inicio {
    margin: 2.5% 5%;
}
    section#inicio img {
        border-radius: 8px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

div.parallax, section.crd-section {
    border-radius: 8px;
    padding: 2.5%;
    margin: 5%;
}

div.parallax {
    background-image: url(https://cdn.pixabay.com/photo/2021/11/15/12/06/barber-shop-6797941_1280.jpg);
    min-height: 300px;
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.crd-section{
    box-shadow: 1px 1px 2px 0.5px lightgrey;
}

section.crd-section .crd-header h2 {
    color: var(--bg-strong-pink);
    margin-bottom: 1%;
}
section.crd-section .crd-header p {
    color: var(--secondary-text-color);
    line-height: 1.6em;
}

section#reservas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    row-gap: 5%;
    column-gap: 5%;
}
    section#reservas .crd-header {
        grid-column-end: span 2;
    }
    section#reservas .img-container img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    section#reservas .crd-form {
        background-color: rgba(240,240,240,0.95);
        border-radius: 8px;
    }
        section#reservas .crd-form form {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 5%;
        }
            section#reservas .crd-form form * {
                margin-bottom: 3.5%;
            }
            section#reservas .crd-form form h2 {
                color: var(--bg-strong-pink);
            }
            section#reservas .crd-form form input, section#reservas .crd-form form textarea {
                border: 1px solid lightgray;
                border-radius: 4px;
                line-height: 2em;
                text-indent: 2%;
            }
            section#reservas .crd-form form input:focus, section#reservas .crd-form form textarea:focus {
                border: 1px solid var(--bg-strong-pink);
            }
            section#reservas .crd-form form button {
                background-color: var(--bg-strong-pink);
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 20px;
                font-weight: bold;
                padding: 2.5%;
            }
            section#reservas .crd-form form button:hover {
                background-color: var(--hover-pink);
            }

section#servicios {
    display: grid;
    row-gap: 5%;
    padding-bottom: 5%;
}
    section#servicios table, section#servicios table td, section#servicios table th{
        border: 1px solid grey;
        border-collapse: collapse;
        line-height: 2em;
        text-align: center;
    }
        section#servicios table th {
            background-color: var(--bg-strong-pink);
            color: white;
        }
        section#servicios table th, section#servicios table td {
            padding: 1%;
        }
        section#servicios table tr:nth-child(even) {
            background-color: #EEE;
        }

