@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);

:root {
    --primary-text-color: #333;
    --bg-strong-pink: #e91e63;
    --hover-pink: #d81b60;
    --secondary-text-color: #555;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
    font-size: 1em;
}

body {
    background-color: white;
    color: var(--primary-text-color);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid black;
    text-align: center;
}
    header h1 {
        font-weight: bold;
        font-size: 2.5em;
    }
    header p {
        color: var(--secondary-text-color);
        margin-bottom: 2%;
    }

nav {
    background-color: var(--bg-strong-pink);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0%;
}
    nav ul {
        display: flex;
        width: 100%;
        align-items: baseline;
        justify-content: center;
        gap: 2.5%
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        display: inline-block;
        padding: 15% 20%;
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    nav ul li a:hover {
        color: black;
    }

section#inicio {
    margin: 3% 5%;
}
    section#inicio img {
        border-radius: 8px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

div.parallax, section.crd-section {
    border-radius: 8px;
    padding: 2.5%;
    margin: 2% 5%;
}

div.parallax {
    background-image: url(https://cdn.pixabay.com/photo/2021/11/15/12/06/barber-shop-6797941_1280.jpg);
    min-height: 300px;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.crd-section{
    box-shadow: 1px 1px 2px 2px lightgrey;
}

section.crd-section .crd-header h2, section#reservas .crd-form form h2 {
    color: var(--bg-strong-pink);
    font-size: 1.75em;
}
section.crd-section .crd-header h2 {
    margin-bottom: 1%;
}

section.crd-section .crd-header p {
    color: var(--secondary-text-color);
    line-height: 1.6em;
}

section#reservas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    column-gap: 5%;
    object-fit: cover;
    padding-bottom: 3%;
}
    section#reservas .crd-header {
        grid-column-end: span 2;
        margin-bottom: 1%;
    }
    section#reservas .img-container img {
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    section#reservas .crd-form {
        background-color: rgba(240,240,240,0.95);
        border-radius: 8px;

    }
        section#reservas .crd-form form {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 3%;
        }
            section#reservas .crd-form form * {
                margin-bottom: 3.5%;
            }
            section#reservas .crd-form form input, section#reservas .crd-form form textarea {
                border: 1px solid lightgray;
                border-radius: 4px;
                line-height: 2em;
                text-indent: 2%;
            }
            section#reservas .crd-form form input:focus, section#reservas .crd-form form textarea:focus {
                border: 1px solid var(--bg-strong-pink);
            }
            section#reservas .crd-form form button {
                background-color: var(--bg-strong-pink);
                color: white;
                border: none;
                border-radius: 4px;
                font-weight: bold;
                padding: 2.5%;
                transition: transform 0.25s ease-in-out;
            }
            section#reservas .crd-form form button:hover {
                background-color: var(--hover-pink);
                transform: scale(1.02, 1.1);
            }

section#servicios {
    display: grid;
    padding-bottom: 5%;
}
    section#servicios .crd-header {
        margin-bottom: 1%;
    }
    section#servicios table {
        box-shadow: 0.5px 0.5px 3px 1px rgba(200,200,200, 0.95);
    }
    section#servicios table, section#servicios table td, section#servicios table th{
        border: 1px solid rgba(200,200,200, 0.95);
        border-collapse: collapse;
        line-height: 2em;
        text-align: center;
    }
        section#servicios table th {
            background-color: var(--bg-strong-pink);
            color: white;
        }
        section#servicios table th, section#servicios table td {
            padding: 1%;
        }
        section#servicios table tr:nth-child(even) {
            background-color: #EEE;
        }
section#galeria {
    display: flex;
    flex-direction: column;
}
section#galeria .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}
    section#galeria .crd-header{
        margin-bottom: 2%;
    }
    section#galeria .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: transform 0.25s ease-in-out;
    }
    section#galeria .gallery img:hover {
        transform: scale(1.05);
    }

section#mapa iframe {
    width: 100%;
    min-height: 400px;
    height: 50vh;
}

section#ventajas .crd-header {
        text-align: center;
}
section#ventajas .crd-body .crd-ventajas {
    background-color: #FFE3EF;
    float: left;
    width: 30%;
    height: 100%;
    padding: 1%;
    margin: 1.66%;
    border-radius: 8px;
    border: 1px solid rgba(233,30,99, 0.3);
    box-shadow: 1px 1px 3px 0.5px rgba(200,200,200, 0.95);
    hyphens: auto;
}
    section#ventajas .crd-body .crd-ventajas h3 {
        color: var(--bg-strong-pink);
        margin-bottom: 1%;
        font-size: 1.3em;
    }
    section#ventajas .crd-body .crd-ventajas p {
        color: var(--secondary-text-color);
    }

footer {
    background-color: rgba(0, 0, 0, 0.85);
    border-top: 2px solid var(--bg-strong-pink);
    padding: 1%;
    clear: left;
    display: grid;
    justify-items: center;
}
    footer p {
        color: white;
        text-align: center;
        margin-bottom: 1%;
    }
    footer .social-media {
        color: var(--bg-strong-pink);
        display: flex;
        justify-content: center;
        gap: 25%;
    }
        footer .social-media i {
            font-size: 2.5em;
            transition: transform 0.25s ease-in-out;
        }
        footer .social-media i:hover {
            transform: scale(1.2);
            color: white;
        }

@media (max-width: 768px) {
    body p {
        font-size: 1em;
    }

    section#reservas .crd-header {
        grid-column-end: span 1;
    }
    section#reservas {
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
    }
    section#galeria .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0.5%;
        padding-bottom: 10%;
    }
    section#galeria .gallery .img-container:nth-last-child(-n+4) {
        display: none;
    }

    section#ventajas .crd-body .crd-ventajas {
        clear: left;
        width: 95%;
        padding: 4%
    }
    nav ul li a {
        font-size: 16px;
    }
}
