@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Titulos */
h1 {
    font-size: 35px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 34px;
}

h1,
h2,
h3 {
    font-weight: 400;
}

/* Colores */
.trabajos {
    color: #323068;
}

.contacto,
.trabajos .trabajo .descripcion .nombre,
.acerca-de p .bold {
    color: #3895ea;
}

.boton {
    background-color: #3895ea;
}

.trabajos .trabajo .descripcion .categoria {
    color: #636363;
}

.redes-sociales {
    background-color: #1e2b38;
}

.acerca-de p {
    color: #5a5a5a;
}

.trabajos {
    background-color: #f2f2f2;
}

.acerca-de {
    color: #dd820d;
}

.contacto .boton:hover {
    background-color: #387bea;
}

.redes-sociales .twitter:hover {
    background-color: #1da1f2;
}

.redes-sociales .facebook:hover {
    background-color: #1877f2;
}

.redes-sociales .youtube:hover {
    background-color: #ff0000;
}

.redes-sociales .github:hover {
    background-color: #333;
}

.redes-sociales .instagram:hover {
    background-color: #405de6;
}

header,
header .menu a,
.redes-sociales a,
.contacto .boton {
    color: white;
}

/* Contenedores flex */

header > .contenedor,
header .menu,
.contenedor-trabajos,
footer form {
    display: flex;
}

.contenedor-trabajos,
footer form {
    flex-flow: row wrap;
}

header > .contenedor {
    flex-direction: column;
}

/* Otros estilos generales*/

header .menu a,
.redes-sociales a {
    display: inline-block;
}

footer > .contenedor,
footer > .contenedor > .contacto,
.acerca-de .texto {
    margin: 5% 10%;
}

/* Estilos del header */
header {
    background-image: url(../img/bg.jpg);
    height: 450px;
    position: relative;
}

header .contenedor-texto {
    border: 1px solid white;
    align-self: center;
    padding: 1% 5%;
    position: absolute;
    top: 40%;
}

header .menu {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: end;
}

header .menu a {
    text-decoration: none;
    padding: 1%;
    margin: 2%;
}

header .menu a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* Seccion acerca de */
div.foto {
    transform: translateY(-50%);
}

div.foto img {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
}

.acerca-de .texto * {
    margin-bottom: 35px;
}

.acerca-de .texto .titulo {
    margin-top: -10%;
}

/* Seccion Trabajos */
.trabajos > .contenedor {
    padding: 2.5% 5%;
}

.trabajos > .contenedor > .titulo {
    font-weight: 400;
    margin-bottom: 40px;
}

.trabajos .contenedor-trabajos {
    justify-content: space-between;
}

.trabajos .trabajo {
    width: 23%;
    margin-bottom: 20px;
    margin-right: 2%;
    flex-shrink: 2;
}

.trabajos .trabajo .descripcion {
    font-size: 14px;
}

.trabajos .trabajo .descripcion .nombre {
    margin-bottom: 2%;
}

.trabajo .thumb img {
    width: 250px;
    height: auto;
    margin-bottom: 2%;
}

/* Formulario de contacto */

footer form {
    justify-content: space-between;
}

.contacto > .titulo {
    width: 100%;
    margin-bottom: 5%;
}

.contacto form > * {
    font-size: larger;
}

.contacto input:required,
.contacto textarea {
    text-align: left;
    text-indent: 2%;
    line-height: 2em;
    border-radius: 4px;
    border: 1px solid grey;
    margin-bottom: 15px;
}

.contacto input:focus {
    border: 1px solid black;
}

.contacto input:required {
    width: 47%;
    height: 40px;
}

.contacto textarea {
    width: 100%;
    height: 80px;
}

.contacto .boton {
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos de las RR.SS. */
.redes-sociales {
    justify-content: center;
}

.redes-sociales a {
    font-size: 30px;
    margin: 30px 10px;
    padding: 15px 25px;
    border-radius: 4px;
}

.trabajos .trabajo img {
    width: 100%;
}

@media (max-width: 800px) {
    header .menu {
        justify-content: center;
        margin-bottom: 5%;
    }

    .trabajos .trabajo {
        width: 46%;
    }

    header {
        height: 300px;
    }

    @media (max-width: 500px) {
        .redes-sociales a {
            margin: 5%;
            padding: 2.5% 5%;
        }

        header .menu {
            justify-content: center;
            margin-bottom: 15%;
        }

        h1 {
            font-size: 33px;
        }

        h2 {
            font-size: 14px;
        }

        h3 {
            font-size: 32px;
        }
    }
}
