@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Titulos */
h1 {
    font-size: 35px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 34px;
}

h1, h2, h3 {
    font-weight: 400;
}

/* Estilos del header */
header {
    background-image: url(../img/bg.jpg);
    color: white;
    height: 600px;
}

header > .contenedor {
    display: flex;
    flex-direction: column;
}

header .contenedor-texto {
    align-self: center;
    border: 1px solid white;
    padding: 15px;
    transform: translateY(150%);
    padding: 1% 3%;
}

header .menu {
    display: flex;
    align-self: flex-end;
    margin-top: 2%;
    margin-left: 3%;
    gap: 20px;
    width: 25%;
}

header .menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1%;
    margin: 1%;
}

header .menu a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

div.foto{
    transform: translateY(-50%);
}

div.foto img {
    border-radius: 100px;
}

/* Seccion Trabajos */

.trabajos {
    background-color: #f2f2f2;
}

.trabajos > .contenedor {
    padding: 2.5%;
}

.trabajos > .contenedor > .titulo {
    font-weight: 400;
    margin-bottom: 40px;
}

.trabajos .contenedor-trabajos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.trabajos .trabajo {
    width: 23%;
    margin-bottom: 20px;
}

.trabajos .trabajo .descripcion {
    font-size: 14px;
}

.trabajo .thumb img {
    width: 250px;
    height: auto;
}

.contacto,
.trabajos .trabajo .descripcion .nombre {
    color: #3895ea;
}

.trabajos .trabajo .descripcion .categoria {
    color: #636363;
}

.boton {
    background-color: #3895ea;
}

.trabajos {
    color: #323068;
}

.acerca-de {
    color: #dd820d;
}

.acerca-de .texto {
    margin: 3%;
}

.acerca-de .texto .titulo, .acerca-de .texto p {
    margin-bottom: 35px;
}

.acerca-de p {
    color: #5a5a5a;
}

.acerca-de p .bold {
    color: #3895ea;
}

.redes-sociales {
    background-color: #1e2b38;
}
