@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 34px;
}

/* Estilos del header */
header {
    background-image: url(../img/bg.jpg);
    color: white;
}

header > .contenedor {
    display: flex;
    flex-direction: column;
}

header .menu {
    display: flex;
    align-self: flex-end;
    margin-top: 2%;
    margin-left: 3%;
    gap: 20px;
    width: 25%;
}

header .menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1%;
    margin: 1%;
}

header .menu a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.trabajos {
    background-color: #f2f2f2;
}

.trabajos .trabajo .descripcion {
    font-size: 14px;
}

.contacto,
.trabajos .trabajo .descripcion .nombre {
    color: #3895ea;
}

.trabajos .trabajo .descripcion .categoria {
    color: #636363;
}

.boton {
    background-color: #3895ea;
}

.trabajos {
    color: #323068;
}

.acerca-de {
    color: #dd820d;
}

.acerca-de p {
    color: #5a5a5a;
}

.acerca-de p .bold {
    color: #3895ea;
}

.redes-sociales {
    background-color: #1e2b38;
}
