* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#item1 {
    grid-area: celda1;
}
#item2 {
    grid-area: celda2;
}
#item3 {
    grid-area: celda3;
}
#item4 {
    grid-area: celda4;
}
#item5 {
    grid-area: celda5;
}

#header {
    grid-area: lista1;
}


.item {
    background-color: #5a5c5c;
    color: white;
    padding: 1%;
}

.item2 {
    color: black;
    background-color: #dbdaf5;
    padding: 2.5%;
}

.grid {
    display: grid;
    gap: 2px 2px;
    justify-items: stretch;
}

.external {
    grid-template-areas:
        "celda1 celda2 celda2"
        "celda3 celda4 celda4"
        "celda5 celda4 celda4";
    margin: 10vh 10vw;
    text-align: center;
    font-size: 24px;
}

.internal {
    grid-template: ' lista1 lista1 ' auto;
    background-color: white;
    margin: 2%;
}
