* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#item1 { grid-area: celda1; }
#item2 { grid-area: celda2; }
#item3 { grid-area: celda3; }
#item4 { grid-area: celda4; }
#item5 { grid-area: celda5; }

#header { grid-area: header; }
#lista2 { grid-area: lista2; }
#lista3 { grid-area: lista3; }
#lista4 { grid-area: lista4; }
#lista5 { grid-area: lista5; }




.item {
    background-color: #5A5C5C;
    color: white;
    padding: 1%;
}

.item2 {
    color: black;
    background-color: #DBDAF5;
    padding: 2.5%;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'celda1 celda2 celda2'
    'celda3 celda4 celda4'
    'celda5 celda4 celda4';
    gap: 2px 2px;
    justify-items: stretch;
    margin: 10vh 10vw;
    text-align: center;
    font-size: 24px;
}

.internal-grid {
    display: grid;
    grid-template-areas:
    'header header'
    'lista2 lista3'
    'lista4 lista5';
    gap: 2px 2px;
    background-color: white;
    margin: 2%;
}