.parallax {
    background-image: url("ping.jpg");

    min-height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.solid{
    background-color: brown;
    height:  1000px;
    opacity: 0.3;
    font-weight: bold;
}