/* Establece fuente, box-sizing y limpia margenes y rellenos*/
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Estilos generales */
p {
    line-height: 27px;
}

body {
    background-color: #4a465b;
}

.contenedor {
    margin: 2% 10%;
}

/* Estilos del menú de navegación */
nav {
    background-color: white;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 1em 1.5em;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
}

/* Estilos del aside */
aside {
    background-color: #161f26;
    color: white;
}

aside a {
    display: block;
    color: white;
    text-decoration: none;
    border-bottom: 0.5px solid #8f8f8f;
    padding: 5% 0%;
}

aside a:hover {
    color: #8f8f8f;
}

aside h3 {
    color: #ff8000;
    border-bottom: 0.5px solid #ff8000;
    margin-bottom: 5%;
}

aside ul {
    list-style-type: none;
}

.widget {
    margin: 0% 10% 0%; /* No encuentro una solición mejor*/
    padding: 5% 0%;
}


/* Estilos del main */
.main {
    background-color: white;
    color: black;

}

.posts article {
    margin: 5% 10% 0%;
    padding-bottom: 5%; /* No encuentro una solición mejor*/
}

.posts p, h2 {
    margin-top: 5%;
}

/* Estilos del footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer > p {
    padding: 2.5%;
}

/* Estilos por pantalla */
@media (min-width: 800px) {
    aside {
        float: right;
        width: 25%;
    }

    .main {
        float: left;
        width: 75%;
    }

    footer {
        clear: left;
        width: 75%;
    }
}


