/* Establece fuente, box-sizing y limpia margenes y rellenos*/
* {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-align: border-box;
    -moz-box-align: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Estilos generales */
p {
    line-height: 27px;
    hyphens: auto;
}

body {
    background-color: #4a465b;
}

.contenedor {
    margin: 2% auto;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}

/* Estilos del menú de navegación */
nav {
    background-color: white;
    width: 100%;
    text-align: center;
}

nav ul {
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 1em 1.5em;
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
}

/* Estilos del aside */
aside {
    background-color: #161f26;
    color: white;
    padding: 5%;
}

aside .widget {
    margin-bottom: 5%;
}

aside .widget ul {
    list-style-type: none;
}

aside .widget ul li {
    border-bottom: 0.5px solid #8f8f8f;
    padding: 5% 0%;
}

aside .widget ul li a {
    color: white;
    text-decoration: none;
}

aside .widget ul li a:hover {
    color: #8f8f8f;
}

aside .widget h3 {
    color: #ff8000;
    border-bottom: 0.5px solid #ff8000;
    margin-bottom: 5%;
}

/* Estilos del main */
.main {
    background-color: white;
    color: black;

}

.main img {
    width: 100%;
    vertical-align: top;
}

.main .posts {
    padding: 5%;
}

.main .posts article p, h2 {
    margin-bottom: 5%;
}

/* Estilos del footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2.5% 0%;
}

/* Estilos por pantalla */
@media (min-width: 800px) {
    aside {
        float: left;
        width: 25%;
        padding: 3%;
    }


    .main {
        float: left;
        width: 75%;
    }

    footer {
        clear: both;
        width: 75%;
    }

    nav {
        text-align: left;
    }
}


