@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    hyphens: auto;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-image: url(imagenes/fondo.jpg);
    line-height: 1.7em;
}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

header .menu {
    padding: 2%;
    width: 20%;
}

header .menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 2%;
    font-size: larger;
}

header .menu a:hover {
    text-decoration: underline;
}

/* Estilos del main container(main + aside)*/

.main-container {
    display: flex;
    margin: 5%;
}

/* Estilos del main */

.main-container main {
    background-color: white;
    width: 70%;
}

.main-container main article {
    margin: 3%;
}

.main-container main article .thumb,.main-container main article h2,.main-container main article p {
    margin-bottom: 20px;
}

.main-container main article .thumb img {
    width: 100%;
}

.main-container aside .ad p, .main-container main article h2 {
    font-size: 32px;
}

/* Estilos del aside */

.main-container aside {
    background-color: #537dca;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container aside .ad {
    background-color: #4264a2;
    margin: 5%;
    height: 25%;
}

.main-container aside .ad p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Estilos del footer */

footer {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 5%;
}

footer a, footer, .main-container aside .ad {
    color: white;
}

footer a:hover {
    text-decoration: none;
}

footer .autor, .main-container aside .ad {
    text-align: center;
}

footer .redes-sociales {
    display: flex;
    gap: 20px;
}

/* Media Queries para pantallas pequeñas */

@media (max-width: 600px) {
    /* Ajustes del main container (main + aside) */
    .main-container {
        flex-direction: column;
    }

    .main-container main, .main-container aside, header .menu {
        width: 100%;
    }

    /* Ajustes del aside */
    .main-container aside {
        flex-direction: row;
    }

    .main-container aside .ad {
        width: 30%;
        height: 100px;
    }

    /* Ajustes del header y footer */
    header, footer {
        align-items: center;
        gap: 10px;
    }

    header {
        flex-direction: column;
    }

    header nav {
        background-color: rgba(255, 255, 255, 0.2);
        width: 100%;
        text-align: center;
    }

    footer {
        flex-direction: column-reverse;
    }

    @media (max-width: 400px) {
        .main-container aside {
            display: none;
        }
    }
}
