@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-image: url(imagenes/fondo.jpg);
}

header nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}
