@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-image: url(imagenes/fondo.jpg);
    line-height: 1.7em;
}

/* Estilos del header */

header nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 5px;
    font-size: larger;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

/* Estilos del main container(main + aside)*/

.main-container {
    display: flex;
    align-items: stretch;
    margin: 5%;
}

/* Estilos del main */

.main-container main {
    background-color: white;
    width: 70%;
}

.main-container main article {
    margin: 3%;
}

.main-container main article .thumb {
    margin-bottom: 20px;
}

.main-container main article h2 {
    margin-bottom: 20px;
    font-size: 32px;
}
.main-container main article p {
    margin-bottom: 20px;
    hyphens: auto;
    margin-right: 3%;
}

/* Estilos del aside */

.main-container aside {
    background-color: #537dca;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container aside .ad {
    background-color: #4264a2;
    margin: 5%;
    text-align: center;
    color: white;
    height: 25%;
}
.main-container aside .ad p {
    font-size: 32px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Estilos del footer */

footer {
    background-color: rgba(255,255,255,.2);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 2%;
    margin: 5%
}

footer a {
    color: white;
}

footer .redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

