@import url(./normalize.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css);

:root {
    --text-default: #333;
    --text-lighter: #555;
    --strong-pink: #e91e63;
    --strong-pink-hover: #d81b60;
    --light-pink: #FFE3EF;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
    color: var(--text-default);
}

body {
    background-color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header .texto-header {
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid black;
    text-align: center;
}
    header .texto-header * {
        margin-bottom: 2%;
    }
    header .texto-header h1 {
        color: black;
        font-weight: bold;
    }
    header .texto-header p {
        color: var(--text-lighter);
    }

nav {
    background-color: var(--strong-pink);
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: sticky;
    top: 0%;
}
    nav .nav-link {
        margin: 0% 1%;
    }
        nav .nav-link a {
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 20%;
            font-weight: bold;
            text-transform: capitalize;
        }
            nav .nav-link a:hover {
                color: black;
            }

section {
    margin: 5%;
    border-radius: 8px;
}
    section > img {
        border-radius: 8px;
        width: 100%;
    }

section.section-crd {
    box-shadow: 2px 2px 4px 1px rgba(200, 200, 200, 1);
    padding: 2.5%;
}
    section.section-crd div.crd-header * {
        margin-bottom: 2%;
    }
    section.section-crd div.crd-header h2 {
        color: var(--strong-pink);
    }
    section.section-crd div.crd-header p {
        line-height: 1.6em;
    }

section.bienvenida {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2%;
}
    section.bienvenida .crd-header {
        grid-column-end: span 2;
    }
    section.bienvenida .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    section.bienvenida form {
        background-color: rgba(240,240,240, 0.95);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2.5%;
        border-radius: 8px;
    }
        section.bienvenida form h2 {
            color: var(--strong-pink);
            text-align: center;
        }
        section.bienvenida form input, section.bienvenida form button, section.bienvenida form textarea {
            margin: 2.5%;
            border-radius: 4px;
            padding: 2.5%;
        }
        section.bienvenida form input, section.bienvenida form textarea {
            border: 1px solid rgba(200,200,200, 0.95);
        }
            section.bienvenida form input:focus, section.bienvenida form textarea:focus  {
                border: 1px solid var(--strong-pink-hover);
            }
        section.bienvenida form button {
            background-color: var(--strong-pink);
            color: white;
            border: none;
            font-weight: bold;
            transition: transform 0.25s ease-in-out;
        }
            section.bienvenida form button:hover {
                background-color: var(--strong-pink-hover);
                transform: scale(1.05, 1.1);
            }

section.servicios table  {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 4px rgba(200,200,200, 0.95);
}
    section.servicios table, section.servicios table th, section.servicios table td {
        border: 1px solid rgba(200,200,200, 0.95);

    }
    section.servicios table th, section.servicios table td {
        padding: 1.5%;
    }
    section.servicios table th {
        background-color: var(--strong-pink);
        color: white;
    }

section.parallax {
    background-image: url(https://cdn.pixabay.com/photo/2021/11/15/12/06/barber-shop-6797941_1280.jpg);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.map iframe {
    min-height: 400px;
    width: 100%;
}

section.ventajas .crd-ventajas {
    background-color: var(--light-pink);
    border: 1px solid rgba(233, 30, 99, 0.4);
    box-shadow: 1px 1px 4px rgba(200,200,200, 0.95);
    float: left;
    width: 30%;
    margin-left: 3%;
    padding: 1%;
    height: 70%;
    border-radius: 8px;
}
    section.ventajas .crd-ventajas h3 {
        color: var(--strong-pink);
        margin-bottom: 2%;
        font-size: smaller;
    }
    section.ventajas .crd-ventajas p {
        font-size: smaller;
    }

footer {

}