* {
    margin: 0px;
    padding: 0px;
}

div {
    width: 100px;
    height: 100px;
    margin: 100px;
}

.rotar {
    background-color: green;
    transition: transform ease-out 3s 1s, background-color ease-out 3s 1s;
}

.rotar:hover {
    transform: rotate(360deg) scaleX(2);

    background-color: red;
}

.mover {
    background-color: rgba(105,105,105,0.6);

}

.mover:hover {
    transform: translate(500px, 50px) skew(30deg, 20deg);
    transition: transform ease-in-out 4s, background-color ease-in-out 4s;
    background-color: rgb(255,192,203);
}