* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.contenedor {
    margin: auto;
    width: 1000px;
    background-color: #ccc;
}

header {
    color: white;
    background-color: #30323D;
    padding: 2%;
}

main {
    background-color: white;
    float: left;
    width: 70%;
    padding: 2%;
}


aside {
    background-color: #e8c547;
    color: white;
    float: left;
    width: 30%;
    padding: 2%;
}

footer {
    background-color: #4d5061;
    color: white;
    clear: both;
    padding: 2%;
}
