* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.contenedor {
    margin: 50px;
}

aside {
    background-color: #e8c547;
    color: white;
    float: left;
    width: 30%;
    padding: 1.5%;
}

footer {
    background-color: #4d5061;
    color: white;
    clear: left;
    padding: 1.5%;
}

header {
    color: white;
    background-color: #30323D;
    padding: 1.5%;
}

.main {
    background-color: white;
    float: left;
    width: 70%;
    padding: 1.5%;
}
