html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    height: 1000px;
}
a {
    display: flex;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
a:hover {
    background-color: #0056b3;
}
