div {
    min-height: 250px;
    margin: 10px;
}

.grad-a {
    background-color: red;
    background-image:  linear-gradient(45deg, red, orange, yellow, green, blue, #A346BC 90%);
}

.grad-b {
    background-color: red;
    background-image: repeating-linear-gradient(to right, red, orange 7%, aqua 10%);
}

.grad-c {
    width: 250px;
    background-color: red;
    background-image: radial-gradient(circle farthest-side at 60% 55%, blue, green, yellow, orange);
}

.grad-d {
    width: 250px;
    border-radius: 30%;
    background-color: red;
    background-image: conic-gradient(from 180deg, red, yellow, green , blue , aqua , pink);
}