* {
    color: black;
    font-family: Courier, monospace;
    font-size: 12pt;
    line-height: 1.2em;
}

h1 {
    color: #660000;
    font-size: 200%;
    text-shadow: 2px 2px blue;
    text-transform: capitalize;
    word-spacing: 5px;
}

a:link {
    font-style: italic;
    color: grey;
    text-decoration: none;
}

a:visited {
    color: red;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

ul {
    margin-left: 40% ;
    text-decoration: underline solid;
}