@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Colores de la página */
:root {
    --primary-blue: #074167; /* Azul */
    --dark-blue: #143548; /* Azul oscuro */
    --background-light: #ffebd9; /* Crema */
    --hover-light: #ccb299; /* Marrón */
}
/* Reset y box-sizing */
* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Estilos generales */
.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Colores y cursores */

h3, small, a, header .search .hamburger, header .search button {
    color: var(--background-light);
}

a:hover, header .search button:hover {
    color: var(--hover-light);
}

footer .footer-menu, header {
    background-color: var(--dark-blue);
}

a {
    text-decoration: none;
}

button, a:hover {
    cursor: pointer;
}

/* Contenedores flex */
body, header, header .search, footer, footer .footer-copy, footer .footer-menu, footer .footer-menu div {
    display: flex;
}

body, footer, footer .footer-copy, footer .footer-menu div  {
    flex-direction: column;
}
/* Margenes, rellenos y alineamientos comunes */
header nav ul.menu li, header nav ul.menu a, footer .footer-copy a {
    display: inline-block;
}

footer .footer-menu, footer .footer-copy, footer .footer-copy a {
    padding: 2.5%
}

/* Estilos del Header */
header {
    justify-content: space-between;
    align-items: center;
}
    header nav ul.menu a {
        padding: 15px 20px;
    }
    header .search {
        justify-content: end;
        gap: 2%;
        margin-right: 1%;
    }
        header .search .hamburger {
            display: none;
        }
        header .search input {
            background-color: var(--background-light);
            border-radius: 4px;
            border: none;
            height: 30px;
            transition: transform ease-in-out 0.25s;
        }
        header .search input:hover {
            transform: scale(1.1);
        }
        header .search button {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            font-size: 20px;
            transition: transform ease-in-out 0.25s;
        }
        header .search button:hover {
            transform: scale(1.3);
        }
    header .logo {
        transition: transform ease-in-out 0.25s;
        justify-self: center;
    }
    header .logo:hover {
        transform: rotate(360deg);
    }
/* Estilos del CTA */
div.cta-container {
    background-image: url(../media/gato-fondo-e1701355048196.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    filter: sepia(30%);
}
    div.cta-container h1 {
        text-shadow: var(--hover-light) 8px 4px 6px;
        text-align: center;
        position: relative;
        top: 50%;
        font-size: 100px;
        font-weight: 400;
        color: var(--dark-blue);
    }

/* Estilos del footer */
footer .footer-copy {
    align-items: center;
    background-color: var(--primary-blue);
    gap: 15px;
}
    footer .footer-copy .social-icons {
        width: 25%;
        text-align: center;
    }
    footer .footer-copy a {
        font-size: 30px;
        color: white;
    }
        footer .footer-copy a:hover {
            transform: scale(1.2);
        }
        footer .footer-copy a[href="https://facebook.com"]:hover {
            color: #1877f2;
        }
        footer .footer-copy a[href="https://instagram.com"]:hover {
            color: #e1306c;
        }
        footer .footer-copy a[href="https://linkedin.com"]:hover {
            color: #0a66c2;
        }
    footer .footer-menu {
        justify-content: space-evenly;
    }
        footer .footer-menu div h3 {
                margin-bottom: 10%;
        }