@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Colores de la página */
:root {
    --primary-blue: #074167; /* Azul */
    --dark-blue: #143548; /* Azul oscuro */
    --background-light: #ffebd9; /* Crema */
    --hover-light: #ccb299; /* Marrón */
}
/* Reset y box-sizing */
* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Estilos generales */
.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

h3, small {
    color: var(--background-light);
}

a {
    color: var(--background-light);
    text-decoration: none;
}
a:hover {
    color: var(--hover-light);
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* Estilos del Header */
header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header nav ul.menu li, header nav ul.menu a {
        display: inline-block;
    }
    header nav ul.menu a {
        padding: 15px 20px;
    }
    header .search {
        display: flex;
        justify-content: end;
        gap: 2%;
        margin-right: 1%;
    }
        header .search .hamburger {
            display: none;
            color: var(--background-light);
        }
        header .search input {
            background-color: var(--background-light);
            border-radius: 4px;
            border: none;
            height: 30px;
            transition: transform ease-in-out 0.25s;
        }
        header .search input:hover {
            transform: scale(1.1);
        }
        header .search button {
            color: var(--background-light);
            background-color: rgba(255, 255, 255, 0);
            border: none;
            font-size: 20px;
            transition: transform ease-in-out 0.25s;
        }
        header .search button:hover {
            transform: scale(1.3);
            color: var(--hover-light);
        }
    header .logo {
        transition: transform ease-in-out 0.25s;
        justify-self: center;
    }
    header .logo:hover {
        transform: rotate(360deg);
    }
/* Estilos del CTA */
div.cta-container {
    background-image: url(../media/gato-fondo-e1701355048196.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    filter: sepia(30%);
}
    div.cta-container h1 {
        text-shadow: var(--hover-light) 8px 4px 6px;
        text-align: center;
        position: relative;
        top: 50%;
        font-size: 100px;
        font-weight: 400;
        color: var(--dark-blue);
    }

/* Estilos del footer */
footer {
    display: flex;
    flex-direction: column;
}
    footer .footer-copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-blue);
        padding: 2.5%;
        gap: 15px;
    }
        footer .footer-copy .social-icons {
            width: 25%;
            text-align: center;
        }
        footer .footer-copy a {
            display: inline-block;
            font-size: 30px;
            padding: 2.5%;
            color: white;
        }
        footer .footer-copy a:hover {
            transform: scale(1.2);
        }
        footer .footer-copy a[href="https://facebook.com"]:hover {
            color: #1877f2;
        }
        footer .footer-copy a[href="https://instagram.com"]:hover {
            color: #e1306c;
        }
        footer .footer-copy a[href="https://linkedin.com"]:hover {
            color: #0a66c2;
        }
    footer .footer-menu {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--dark-blue);
        padding: 2.5%;
    }
        footer .footer-menu div {
            display: flex;
            flex-direction: column;
        }
            footer .footer-menu div h3 {
                margin-bottom: 10%;
            }