* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.styled-table {
    width: 80vw;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    caption-side: bottom;
    border-collapse: collapse;
}

.styled-table caption {
    font-size: 20px;
    padding: 10px;
}

.styled-table td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

.styled-table th {
    background-color: #009688;
    color: #fff;
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #c7e2e0;
}

.styled-table tbody tr td:nth-child(3)::after {
    content: "€";
}